<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Rated Movies</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <!-- Navbar with Search Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Movie Recs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/top-rated">Top Rated</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/new-released">New Released</a>
                </li>
            </ul>
            <!-- Search Bar -->
            <form class="form-inline my-2 my-lg-0" action="/recommend" method="POST">
                <input class="form-control mr-sm-2" type="search" placeholder="Enter Movie Title" aria-label="Search" name="movie_title" required>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!-- Top Rated Movies Section -->
    <div class="container mt-5">
        <h2 class="text-center">Top Rated Movies</h2>
        <div class="row mt-4">
            {% for movie in top_rated_movies %}
            <div class="col-md-3 mb-4">
                <div class="card">
                    <a href="/movie/{{ movie['id'] }}">
                        <img src="{{ movie['poster'] }}" alt="{{ movie['title'] }}" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <a href="/movie/{{ movie['id'] }}">
                            <h5 class="card-title">{{ movie['title'] }}</h5>
                        </a>
                        <p class="card-text">Rating: {{ movie['rating'] }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start mt-5">
        <div class="text-center p-3">
            © 2024 Movie Recs: 
            <a class="text-dark" href="#">movierecs.com</a>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
